* {
    font-family: "Montserrat", sans-serif;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    
  }
  main {
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .product {
    width: 30%;
  }
  
  .card {
    border: 2px solid #393D61;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .product-info {
    padding: 20px;
  }
  
  .product p {
    font-size: 1.2rem;
    margin-bottom: 0px; /* Reduce margin */
    color: #393D61;
  }
  
  .product span {
    font-size: 1rem;
    color: #555;
  }
  
  .product .seller {
    margin-bottom: 0px; /* Adjust margin */
  }
  