main {
    display: flex;
    align-items: center;
    margin-top: 150px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 10%;
  }
  
  main hr {
    width: 30%;
    float: left;
    margin-top: -15px;
    color: black;
    margin-bottom: 0;
  }
  
  main p {
    font-size: 1rem;
    font-weight: 400;
    width: 90%;
  }
  
  .left {
    width: 50%;
  }
  
  main div img {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: left;
  }
  
  .right {
    width: 50%;
  }
  
  .right .upload {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    border: 1px dashed black;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }
  
  .right .text {
    text-align: center;
    width: 50%;
    margin-top: 30px;
  }
  
  #magic-btn {
    border: 0;
    margin-top: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 20px;
    width: 400px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Modal Styles */
  .modal {
    margin-top: 200px;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 40%;
    height: 40%;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 30%;
    animation: popup 0.3s ease forwards;
    padding: 0;
  }
  
  .modal-content {
    margin: 0;
    padding: 20px;
    border: 1px solid black;
    width: 95%;
    border-radius: 20px;
    background-color: #393d61;
    animation: fadeIn 0.3s ease forwards;
    text-align: center;
    height: 100%;
  }
  
  .model-text {
    margin-top: 10%;
    display: flex;
    background-color: #393d61;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-direction: column;

  }

  .modal-content img {
    width: 30%;
    height: fit-content;
    float: left;
  }
  
  .modal-content h2,
  .modal-content p {
    color: white;
    background-color: #393d61;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #393d61;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Blurred background (apply to a specific element) */
  .blur-background {
    filter: blur(5px);
  }
  
  /* Centering the button (using CSS) */
  .button-container {
    text-align: center;
  }
  
  /* Popup Animation */
  @keyframes popup {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  