main {
    display: flex;
    align-items: center;
    margin-top: 150px;
    font-size: 30px;
    font-weight: 100;
    margin-left: 10%;
    
}
main hr {
    width: 30%;
    float: left;
    margin-top: -15px;
    color: black;
    margin-bottom: 0;
}

main p{
    font-size: 20px;
    font-weight: 400;
    width: 90%;
}
.left {
    width: 50%;
}
main div img {
    margin-top:100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: left ;
    /* margin-right: 50px; */
}

.right{
    width: 50%;
}

.right .upload{
    display: flex;
    margin-top:100px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    border: 1px dashed black;
    align-items: center;
    justify-content: center;
    margin-left: 50px
}

.right .text {
    text-align: center;
    width: 50%;
    margin-top: 30px;   
}